[Unit]
Description=MollySocket
After=network-online.target

[Service]
Type=simple
#Environment="RUST_LOG=info"
Environment="MOLLY_CONF=__INSTALL_DIR__/prod.toml"
WorkingDirectory=__INSTALL_DIR__/
StandardOutput=append:/var/log/__APP__/__APP__.log
StandardError=inherit

User=__APP__
Group=__APP__
UMask=0007

ExecStart=__INSTALL_DIR__/ms server
KillSignal=SIGINT

Restart=on-failure

# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
